.h1.text-muted.text-right.mb-4 i{
    font-size: 40px !important;
}
.h1.text-muted.text-right.mb-4 span{
    font-size: 20px !important;
}
.h4.mb-0{
    font-size: 25px !important;
}
.text-muted.text-uppercase.font-weight-bold{
    font-size: 10px !important;
}