<dx-popup class="popup" [height]="500" width="60%" [showTitle]="true" title="Detail Asset Brand" [dragEnabled]="false" [closeOnOutsideClick]="false"
  [(visible)]="popupAssetbrand" (onHiding)="hide()">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view #scrollView id="scrollview">
      <dx-form [(formData)]="assetbrand">
        <dxi-item itemType="group" cssClass="first-group" [colCount]="2">
          <dxi-item itemType="group">
            <dxi-item dataField="assetType" caption="Asset Type "><p>{{assetbrand?.assetType.name}}</p></dxi-item>
            <dxi-item dataField="manufacturName" caption="Manufacture Name"><p>{{assetbrand?.masterAssetManufactur.manufacturName}}</p></dxi-item>
            <dxi-item dataField="brandName" caption="Brand Name"><p>{{assetbrand?.brandName}}</p></dxi-item>
          </dxi-item>
        </dxi-item>

        <dxi-item>
          <p style="border-top: 1px rgb(196, 196, 196) solid; padding: 0px; margin: 0px;"></p>
        </dxi-item>
        <dxi-item itemType="group" cssClass="third-group" [colCount]="2">
          <dxi-item itemType="group">
            <dxi-item dataField="activationCode" caption="Activate">
              <p>{{assetbrand?.activationCode}}</p>
            </dxi-item>
            <dxi-item dataField="description" caption="Description">
              <p>{{assetbrand?.description}}</p>
            </dxi-item>
            <dxi-item dataField="registrationBy" caption="Registration By">
              <p>{{assetbrand?.registrationBy}}</p>
            </dxi-item>
            <dxi-item dataField="registrationDate" caption="Registration Date">
              <p>{{assetbrand?.registrationDate}}</p>
            </dxi-item>
            <dxi-item dataField="activationBy" caption="Activation By">
              <p>{{assetbrand?.activationBy}}</p>
            </dxi-item>
            <dxi-item dataField="activationDate" caption="Activation Date">
              <p>{{assetbrand?.activationDate}}</p>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group">
            <dxi-item dataField="deactivationBy" caption="Deactivation By">
              <p>{{assetbrand?.deactivationBy}}</p>
            </dxi-item>
            <dxi-item dataField="deactivationDate" caption="Deactivation Date">
              <p>{{assetbrand?.deactivationDate}}</p>
            </dxi-item>
            <dxi-item dataField="modifiedBy" caption="Modified By">
              <p>{{assetbrand?.modifiedBy}}</p>
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dx-form>
    </dx-scroll-view>
  </div>
</dx-popup>
