<div *ngIf="roleVisible">
  <form action="Submit" (submit)="save($event)">
    <dx-button *ngIf="!isDetail" icon="fa fa-ban" text="Cancel" (onClick)="cancel()"></dx-button>
    <dx-button *ngIf="roleVisible" class="pull-right" icon="fa fa-save" text="Save" validationGroup="roleData" [useSubmitBehavior]="true"></dx-button>

    <!-- class="m-2" => add margin by 0.5rem -->
    <div class="m-2"></div>
    <p style="border-top: 1px rgb(196, 196, 196) solid; padding: 0px; margin: 0px;"></p>
    <div class="m-2"></div>

    
    <br>
    <p>Menu Access :{{ editItem }}</p>
   <!--  <div class="form"> -->
    <!-- <div id="product-details" *ngIf="currentItem.price">
        <img [src]="currentItem.image" />
        <div class="name">{{currentItem.text}}</div>
        <div class="price">{{"$" + currentItem.price}}</div>
    </div> -->
    <!-- </div> -->
    <div class="row">
      <div class="col-4">
        <dx-tree-view
        id="simple-treeview"
        [items]="isi"
        [width]="300"
        showCheckBoxesMode="normal"
        (onItemSelectionChanged)="selection($event)">
        </dx-tree-view>
        <!-- (onItemClick)="selectItem($event)" -->
        <!-- <div class="list-group" *ngFor="let item of isi">
          <a class="list-group-item list-group-item-action" id="{{ item.menu_id }}" (click)="detail($event)">{{ item.menu_description }}</a>
        </div> -->
      </div>
      <div class="col-8">
<!--         <div class="tab-content" id="nav-tabContent" >
          <div class="selected-data">
              Selected Products
              <dx-list id="checked-items" [width]="400" [items]="checkedItems">
                  <dxi-item *ngFor="let item of checkedItems">
                      {{item.id}}
                  </dxi-item>
              </dx-list>
          </div>
           <div class="selected-data">
              Unselected Products
              <dx-list id="checked-items" [width]="400" [items]="UncheckedItems">
                  <dxi-item *ngFor="let item of UncheckedItems">
                      {{item.id}}
                  </dxi-item>
              </dx-list>
          </div>
        </div> -->
      </div>
    </div>
    <dx-load-panel
      #loadPanel
      shadingColor="rgba(0,0,0,0.4)"
      [position]="{ of: '#nav-tabContent' }"
      [(visible)]="loadingVisible"
      [showIndicator]="true"
      [showPane]="true"
      [shading]="true"
      [closeOnOutsideClick]="false">
    </dx-load-panel>
    <app-form-confirmation [isSave]="isSave" [isCancel]="isCancel" [confVisible]="confVisible" (onYesConf)="save()" (onHideConf)="onHideConf()"
      (onSaveConf)="onSaveConf()" (onCancelConf)="onCancelConf()"></app-form-confirmation>
  </form>
</div>
