<div class="animated fadeIn">
  <div class="card" id="new47">

    <div class="card-header">
      <strong>Visi</strong>
    </div>

    <div class="card-body">

        <div id="data-grid-demo">

          <dx-data-grid id="gridContainer" 
            [dataSource]="gridDataSource" 
            [showRowLines]="false" 
            [showBorders]="true" 
            [columnHidingEnabled]="false"
            [rowAlternationEnabled]="false" 
            [columnAutoWidth]="true" 
            [wordWrapEnabled]="true">
            
            <dxo-search-panel 
              [visible]="true" 
              [width]="240" 
              placeholder="Search...">
            </dxo-search-panel>

            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true" [showNavigationButtons]="true">
            </dxo-pager>
            <dxo-export [enabled]="true" fileName="Visi" [allowExportSelectedData]="false"></dxo-export>

            <dxi-column dataField="urutan" width="50px" caption="No" sortOrder="asc" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="visi" caption="Visi" [allowEditing]="true"></dxi-column>
           
            <dxi-column [fixed]="true" width="55px" dataField="visi_id" caption="Action" [allowExporting]="false" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
              <div (click)="showMenu(data.value)" class="text-center">
                <i class="fa fa-th-large" id="btn{{data.value}}"></i>
              </div>
            </div>
          </dx-data-grid>

          <app-context [menuVisible]="menuVisible" [target]="target" [contextItems]="contextItems" (onHideMenu)="onHideMenu()" (itemClick)="itemClick($event)"></app-context>
          <app-progress [progressVisible]="progressVisible" [progressContent]="progressContent" [progressTitle]="progressTitle" (onHideProgresss)="onHideProgress()"></app-progress>
        
        </div>

        <!-- pagination -->
        <div class="row">
          <div class="col-sm-10">
          <ul class="pagination">
            <li class="page-item" (click)="prev()" id="prev"><a class="page-link" >Prev</a></li>
            <div *ngFor="let item of fakeArray; index as i; trackBy: trackByFn">
              <div *ngIf="i+1>=minLimitShow && i+1<=maxLimitShow">
                <li [ngClass]="page==i+1 ? 'page-item active' : 'page-item'" ><a class="page-link" id="{{ i }}" (click)="doneClick($event)">{{ i+1 }}</a></li>
              </div>
            </div>
            <li class="page-item" (click)="next()" id="next"><a class="page-link">Next</a></li>
          </ul>
          <p>Halaman {{ page }} dari {{ jumlahHal }}</p>
          </div>
          <div class="col-sm-2"><br>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" id="5" (click)="limit($event)"
              [ngClass]="activeClass==5 ? 'btn btn-secondary' : 'btn' ">5</button>
              <button type="button" id="10" (click)="limit($event)" [ngClass]="activeClass==10 ? 'btn btn-secondary' : 'btn' ">10</button>
              <button type="button" id="15" (click)="limit($event)" [ngClass]="activeClass==15 ? 'btn btn-secondary' : 'btn' ">15</button>
            </div>
          </div>
        </div> 
        <!-- end pagination -->

      <div *ngIf="addVisible">
        <app-add-visi [isEdit]="isEdit" [isDetail]="isDetail" [editItem]="target" [addVisible]="addVisible" (onHideAdd)="onHideAdd()"></app-add-visi>
      </div>
      <app-form-confirmation 
        [isDelete]="isDelete" 
        [isCancel]="isCancel" 
        [confVisible]="confVisible" 
          (onYesConf)="delete()" 
          (onHideConf)="onHideConf()"
          (onDeleteConf)="onDeleteConf()" 
          (onCancelConf)="onCancelConf()">
      </app-form-confirmation>
    </div>
  </div>
</div>
