<div class="animated fadeIn">
  <div class="card" id="new47">
    <div class="card-header">
      <strong>Location</strong>
      <span *ngIf="isDetail" class="pull-right">
        <dx-button id="btnBack" text="< Back" (onClick)="back()"></dx-button>
      </span>
    </div>
    <div class="card-body">
      <div [hidden]="isDetail || isAdd">
        <div id="data-grid-demo" style="margin-top: 20px;">
          
          <div id="form-container" style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;">
            <dx-form id="form" itemType="group" sssClass="first-group" [formData]="search" [colCount]="4">
              <dxi-item dataField="SiteCodeExist" [editorOptions]="{ disabled: false }" [colSpan]="2">
                <dxo-label text="Site Code"></dxo-label>
              </dxi-item>
              <dxi-item [colSpan]="1">
                <dx-button icon="search" (onClick)="showInfo()"></dx-button>
              </dxi-item>
              <dxi-item [colSpan]="1">
                <dx-button text="Search" (onClick)="doSearch()" type="default"></dx-button>
              </dxi-item>
            </dx-form>
            <div *ngIf="isShowInfo">
              <app-search-site [siteSearchVsb]="siteSearchVsb" (onHideSiteSearch)="onHideSiteSearch($event, $event2)"></app-search-site>
            </div>
          </div>

          <dx-data-grid id="gridContainer" [dataSource]="gridDataSource" keyExpr="id" [showRowLines]="true" [showBorders]="true" [columnHidingEnabled]="false"
            [rowAlternationEnabled]="true" [columnAutoWidth]="true" [wordWrapEnabled]="true" (onToolbarPreparing)="addNewButton($event)" (onContentReady)="contentReady($event)">
            <dxo-remote-operations [paging]="true">
            </dxo-remote-operations>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true" [showNavigationButtons]="true">
            </dxo-pager>
            <dxo-search-panel [visible]="true" placeholder="Search.."></dxo-search-panel>
            <dxo-export [enabled]="true" fileName="Location" [allowExportSelectedData]="false"></dxo-export>
            <dxi-column dataField="id" caption="Location Id" [visible]="false" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="locationCode" caption="Location Code" width='125px' [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column dataField="status" caption="Status" [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column dataField="name" caption="Location Name" width='225px' [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column dataField="locationType.name" caption="Location Type" [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column dataField="site.siteCodeExist" caption="Site Code" [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column dataField="site.siteName" caption="Site Name" [allowEditing]="false" dataType="string"></dxi-column>
            <!-- <dxi-column dataField="site.id" caption="Site">
              <dxo-lookup [dataSource]="sites" displayExpr="name" valueExpr="id"></dxo-lookup></dxi-column> -->
            <dxi-column dataField="address" caption="Address" width='200px' [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column dataField="timeZone" caption="Time Zone" [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column dataField="tariff" caption="Tariff" width='65px' [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column dataField="power" caption="Power" width='65px' [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column dataField="punit" caption="PUNIT" width='65px' [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column dataField="mutationDate" dataType="datetime" format="MM/dd/yyyy" caption="Mutation Date" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="substation" caption="Substation" [allowEditing]="false" dataType="string"></dxi-column>
            <dxi-column [fixed]="true" dataField="id" caption="Action" width="55px" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
              <div (click)="showMenu(data.value)" class="text-center">
                <i class="fa fa-th-large" id="btn{{data.value}}"></i>
              </div>
            </div>
          </dx-data-grid>
          <app-context [menuVisible]="menuVisible" [target]="target" [contextItems]="contextItems" (onHideMenu)="onHideMenu()" (itemClick)="itemClick($event)"></app-context>
          <app-confirmation [text]="text" [confVisible]="confVisible" [detail]="detail" (onHideConf)="onHideConf()"></app-confirmation>
          <app-progress [progressVisible]="progressVisible" [progressContent]="progressContent" [progressTitle]="progressTitle" (onHideProgresss)="onHideProgress()"></app-progress>
        </div>
      </div>
      <div *ngIf="isDetail">
        <app-detail-location [locCode]="locCode"></app-detail-location>
      </div>
      <div *ngIf="addVisible">
      <app-add-location [addVisible]="addVisible" (onHideAdd)="onHideAdd()"></app-add-location>
      </div>
    </div>
  </div>
</div>
