<div *ngIf="addVisible">
  <form action="Submit" (submit)="save($event)">
    <dx-button icon="fa fa-ban" text="Cancel" (onClick)="cancel()"></dx-button>
    <dx-button class="pull-right" icon="fa fa-save" text="Save" validationGroup="masterManufactur" [useSubmitBehavior]="true">
    </dx-button>

    <!-- class="m-2" => add margin by 0.5rem -->
    <div class="m-2"></div>
    <p style="border-top: 1px rgb(196, 196, 196) solid; padding: 0px; margin: 0px;"></p>
    <div class="m-2"></div>

    <dx-form [formData]="manufactur" validationGroup="masterManufactur">
      <dxi-item itemType="group">
        <dxi-item itemType="group" [colCount]="2">
          <dxi-item itemType="group" [colCount]="1">

          <dxi-item dataField="name">
            <dxo-label text="Manufactur Name"></dxo-label>
            <!-- <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule> -->
          </dxi-item>
          <dxi-item dataField="address">
            <dxo-label text="Address"></dxo-label>
          </dxi-item>
          <dxi-item dataField="city">
            <dxo-label text="City"></dxo-label>
          </dxi-item>
          <dxi-item dataField="province">
            <dxo-label text="Province"></dxo-label>
          </dxi-item>
          <dxi-item dataField="country">
            <dxo-label text="Country"></dxo-label>
          </dxi-item>
          <dxi-item dataField="postalCode">
            <dxo-label text="Postal Code"></dxo-label>
          </dxi-item>
          <dxi-item dataField="telepohone1">
            <dxo-label text="Telephone 1"></dxo-label>
          </dxi-item>
          <dxi-item dataField="telepohone2">
              <dxo-label text="Telephone 2"></dxo-label>
          </dxi-item>
          <dxi-item dataField="facsimile">
              <dxo-label text="Faximile"></dxo-label>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="1">
          <dxi-item dataField="email">
            <dxo-label text="Email"></dxo-label>
            <!-- <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule> -->
          </dxi-item>
          <dxi-item dataField="director">
              <dxo-label text="Director"></dxo-label>
          </dxi-item>
          <dxi-item dataField="directorEmail">
              <dxo-label text="Email Director"></dxo-label>
          </dxi-item>
          <dxi-item dataField="marketing">
              <dxo-label text="Marketing"></dxo-label>
          </dxi-item>
          <dxi-item dataField="marketingEmail">
            <dxo-label text="Marketing Email"></dxo-label>
        </dxi-item>
          <dxi-item dataField="engineering">
              <dxo-label text="Engineering"></dxo-label>
          </dxi-item>
          <dxi-item dataField="engineeringPhone">
              <dxo-label text="Engineering Phone"></dxo-label>
          </dxi-item>
          <dxi-item dataField="engineeringEmail">
              <dxo-label text="Engineering Email"></dxo-label>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="2">
            <dxi-item dataField="photoUrl" [template]="'photoTemplate'" >
              <dxo-label text="Photo"></dxo-label>
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dxi-item>
      </dxi-item>
      <div *dxTemplate="let data of 'photoTemplate'">
        <img src="" onError="this.src='/assets/img/default.png'" width="125px" height="150px" class="form-avatar" />
        <dx-file-uploader name="file" uploadMode="useButtons" uploadUrl="" selectButtonText="Upload Photo"
          labelText="">
        </dx-file-uploader>
      </div>
    </dx-form>
    <app-form-confirmation [isSave]="isSave" [isCancel]="isCancel" [confVisible]="confVisible" (onYesConf)="save()" (onHideConf)="onHideConf()"
      (onSaveConf)="onSaveConf()" (onCancelConf)="onCancelConf()"></app-form-confirmation>
  </form>
</div>
<!--pop up-->
<!-- <div id="popup1">
  <dx-popup class="popup" width="500" height="auto" [showTitle]="true" title="Find By Site Code" [dragEnabled]="false" [closeOnOutsideClick]="true"
    [(visible)]="sitePopup">
    <div *dxTemplate="let data of 'content'">
      <div class="card-body">
        <div id="data-grid-demo">
          <dx-data-grid id="gridContainer" [dataSource]="searchSiteById" keyExpr="siteCodeExist" [showRowLines]="true" [showBorders]="true">
            <dxo-remote-operations [filtering]="true">
            </dxo-remote-operations>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxi-column dataField="siteCodeExist" caption="Site Code" width="100px"></dxi-column>
            <dxi-column dataField="unit" caption="Unit" width="100px" [allowFiltering]="false"></dxi-column>
            <dxi-column dataField="name" caption="Site Name" [allowFiltering]="false"></dxi-column>
            <dxi-column dataField="siteCodeExist" [fixed]="true" caption="Action" width="55px" [allowFiltering]="false" [allowSorting]="false"
              cellTemplate="siteTemplate"></dxi-column>
            <div *dxTemplate="let data of 'siteTemplate'">
              <div (click)="getIdSite(data.value)" class="text-center">
                <i class="fa fa-thumb-tack" id="btn{{data.value}}"></i>
              </div>
            </div>

          </dx-data-grid>
        </div>
      </div>
    </div>
  </dx-popup>
</div> 

<div id="popup1">
  <dx-popup class="popup" width="500" height="auto" [showTitle]="true" title="Find By Site Code" [dragEnabled]="false" [closeOnOutsideClick]="true"
    [(visible)]="sitePopup">
    <div *dxTemplate="let data of 'content'">
      <div class="card-body">
        <div id="data-grid-demo">
          <dx-data-grid id="gridContainer" [dataSource]="searchSiteById" keyExpr="siteCodeExist" [showRowLines]="true" [showBorders]="true">
            <dxo-remote-operations [filtering]="true">
            </dxo-remote-operations>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxi-column dataField="siteCodeExist" caption="Site Code" width="100px"></dxi-column>
            <dxi-column dataField="unit" caption="Unit" width="100px" [allowFiltering]="false"></dxi-column>
            <dxi-column dataField="name" caption="Site Name" [allowFiltering]="false"></dxi-column>
            <dxi-column dataField="siteCodeExist" [fixed]="true" caption="Action" width="55px" [allowFiltering]="false" [allowSorting]="false"
              cellTemplate="siteTemplate"></dxi-column>
            <div *dxTemplate="let data of 'siteTemplate'">
              <div (click)="getIdSite(data.value)" class="text-center">
                <i class="fa fa-thumb-tack" id="btn{{data.value}}"></i>
              </div>
            </div>

          </dx-data-grid>
        </div>
      </div>
    </div>
  </dx-popup>
</div> -->

