.long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin-bottom: 5px;
}
::ng-deep .dx-command-edit{
    text-align: center
}